<div class="container">
  <h2>Projetos em Destaque</h2>

  <ul>
    @for(item of arrayProjects(); track item){
    <li>
      <button (click)="openDialog(item)" [title]="item.title">
        <div class="project-thumb">
          <img
            [src]="item.src"
            [alt]="item.alt"
            loading="lazy"
          />
        </div>
        <div class="project-info">
          <h3>{{ item.title }}</h3>
          @if(item.category){
            <span>{{ item.category }}</span>
          }
        </div>
      </button>
    </li>
    }
  </ul>
</div>
